/*Theme Colors*/
$themecolor: #1976d2;
$themecolor-dark: #028ee1;
$themecolor-primary: #1976d2;
$themecolor-secondary: #ffffff;
$themecolor-success: #28a745;
$themecolor-info: #26c6da;
$themeback: #212529;
